body {
    font-family: 'Roboto', sans-serif;
    color: #2C2C2C;
    font-size: 16px;
    background-color: #FEFEFE;
}

.container {
    width: 1280px;
    padding: 0 16px;
    margin: 0 auto;
}
/* components */
.button {
    min-width: 98px;
    height: 32px;
    border: none;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.5;
    background: var(--Button-green, #BBF330);
    color: var(--Black, #2C2C2C);
    border-radius: 30px;
}
/* Стилі для обнулення верхніх відступів у елементів */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

/* Клас для обнулення базових властивостей списків (ul) */
ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

/* Клас для обнулення базових властивостей у посилань */
a {
    text-decoration: none;
}

/* Властивості для коректного відображення картинок */
img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Властивості для обнулення курсиву address */

address {
    font-style: normal;
}

button {
    cursor: pointer;
}


/* CUSTOMERS BLOCK --- made by DENYS */
.section-dec {
    background-color: #FFE550;
    padding: 140px 104px 126px 32px;
}

.top-container {
    margin-bottom: 33px;
}

.title-customers {
    color: #2C2C2C;
    font-family: 'Roboto', sans-serif;
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 20px;
}

.text-customers-info {
    color: #2C2C2C;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.reviews {
    display: flex;
    gap: 139px;
}

.review-container {
    display: flex;
    flex-direction: column;
    background-color: #FEFEFE;
    max-width: 501px;
    height: 231px;
    padding: 14px 14px 17px 14px;
    border-radius: 0px 30px 30px 30px;
}

.review-stars-container {
    display: flex;
    height: 17px;
    gap: 4px;
    margin-bottom: 29px; /*-- ЗАОКРУГЛЮВАВ ДО 28 ТОМУ ЩО МАКЕТ МАЄ БУТИ КРАТНИЙ АБО 4 АБО 5"  */
}

/*  */

.star {
    fill: #FFE550;
}
.review-text {
    color: #2C2C2C;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 40px;
}

.reviewer-info {
    display: flex;
    gap: 16px;
    align-items: center;
    border-right: 2px solid green;
    max-width: 180px;
}

.avatar {
    border-radius: 48px;
}


