body {
    font-family: 'Roboto', sans-serif;
    color: #2C2C2C;
    font-size: 16px;
    background-color: #FEFEFE;
}

.container {
    width: 1280px;
    padding: 0 16px;
    margin: 0 auto;
}
/* components */
.button {
    min-width: 98px;
    height: 32px;
    border: none;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.5;
    background: var(--Button-green, #BBF330);
    color: var(--Black, #2C2C2C);
    border-radius: 30px;
}
/* Стилі для обнулення верхніх відступів у елементів */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

/* Клас для обнулення базових властивостей списків (ul) */
ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

/* Клас для обнулення базових властивостей у посилань */
a {
    text-decoration: none;
}

/* Властивості для коректного відображення картинок */
img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Властивості для обнулення курсиву address */

address {
    font-style: normal;
}

button {
    cursor: pointer;
}

/* Hero-section */

.hero {
    padding-top: 14px;
    padding-bottom: 69px;
}

.hero-container{
    display: flex;
    padding-right: 30px;
    justify-content: space-between;
}

.text-container{
padding-top: 145px;
}

h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.2;
    width: 502.4px;
    margin-bottom: 28px;
}

.hero-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    width: 511px;
    margin-bottom: 40px;
}

.hero-image{
    border-radius: 50%;
    border: 26px solid #ffe550;
    width: 580px;
    height: 580px;
}